body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  background-color: #333333;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-screen-header {
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: black;
  width: 270px;
  height: 600px;
  margin: 10px;
  color: white;
  padding: 12px;
  border: 2px solid #8b4513;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  /* border: 2px solid #8B4513; */
}

.card-image {
  background-color: black;
  max-height: 300px;
  max-width: 250px;
  /* margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px; */
  margin: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.showmore {
  margin-top: auto; /* Push the button to the bottom */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.newimg {
  width: 500px;
  height: 375px;
  border: 30px solid black;
}

.top_banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.desdiv {
  width: 50%;
  background-color: black;
  padding: 20px;
}

.blk {
  background-color: black;
  padding: 20px;
}

.desimage {
  max-width: 370px;
  max-height: 550px;
  border: 20px solid black;
}

.btn {
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  padding: 0.25em 0.5em;
  border-radius: 0.3em;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

Link {
  font-family: "Montserrat", sans-serif;
}

NavLink {
  font-family: "Montserrat", sans-serif;
}

.btn:hover,
.btn:focus {
  background-color: hsl(0, 0%, 80%);
  box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.btn.btn-primary {
  /* background-color: hsl(271, 70%, 50%); */
  background-color: #ffa500;
  border-color: #cc8400;
  /* border-color: hsl(271, 70%, 30%); */
  color: black;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  /* background-color: hsl(271, 70%, 40%); */
  background-color: #ff00ff;
  border-color: #ff00ff;
  box-shadow: 0 0 5px 0 #ff00ff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-top {
  background-color: black;
  padding: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list NavLink {
  text-decoration: none;
  margin-left: 1rem;
}

.nav-list li a {
  color: white; /* Text color */
  padding: 5px 10px; /* Padding around the links */
  text-decoration: none;
  background-color: black; /* Remove underline from links */
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.nav-list li a:hover {
  background-color: #a9a9a9; /* Background color on hover */
  color: #39ff14; /* Text color on hover */
  box-shadow: 0px 0px 10px 0px #39ff14;
}

.btn.btn-accent {
  background-color: hsl(200, 100%, 40%);
  border-color: hsl(200, 100%, 20%);
  color: white;
}

.btn.btn-accent:hover,
.btn.btn-accent:focus {
  background-color: hsl(200, 100%, 30%);
  box-shadow: 0 0 5px 0 hsl(200, 100%, 20%);
}

#b {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.title {
  background-color: black;
  padding: 12px;
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
  border: 2px solid #8b4513;
}

.smallcard {
  background-color: black;
  width: 80%;
  padding: 10px;
  border: 2px solid #8b4513;
  align-items: center;
  justify-content: center;
  display: flex;
}

.username {
  color: white;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 20px;
  font-family: "Lato", sans-serif;
  /* color: #FF00FF; */
  color: #8b4513;
}

.bannerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.movtitle {
  /* color: #FFA500; */
  color: #ff00ff;
}

.genres {
  color: #8b4513;
}

.bigreviews {
  background-color: black;
  padding: 20px;
  border: 2px solid #8b4513;
}

label {
  font-size: 1.3em;
}

.cardbox {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.signup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  justify-content: center;
}

.topdiv {
  border: 2px solid #8b4513;
}

.cardimg {
  width: 150px;
  height: 250px;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.homebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 2px solid #8b4513;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.bigbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  margin-right: 8px;
}

.toplabel {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.stardiv {
  color: yellow;
}

.newform {
  border: 2px solid #8b4513;
  width: 30%;
}

.error {
  border: 2px solid red;
  padding: 6px;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin: 5px;
}

.nomovies {
  width: 30%;
  border: 2px solid #8b4513;
}

.nomoviebox {
  display: flex;
  justify-content: center;
}
